<p-dialog [(visible)]="display" [modal]="true" header="{{ 'ModelManagement.Model Form' | translate }}" (onHide)="closeDialog()"
          [style]="{width: '80rem'}">
    <ng-template pTemplate="header">
        <div class="flex align-items-center">
            <h5 class="text-900 font-bold mb-0">{{ 'ModelManagement.Model Form' | translate }}</h5>
            <app-tooltip class="ml-2" message="ModelManagement.ModelFormTooltip"></app-tooltip>
        </div>
    </ng-template>
    <form *ngIf="display" (ngSubmit)="saveModel()" [formGroup]="modelForm">
        <div class="p-field p-col-12 p-md-12 mt-2">
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-globe"></i>
                <p-dropdown
                        [style]="{'width':'100%'}"
                        [options]="learningProcess"
                        formControlName="learningProcessId"
                        optionValue="learningProcessId"
                        optionLabel="description"
                        placeholder="{{'ModelManagement.SelectLearningProcess' | translate}}"
                        class="form-control">
                </p-dropdown>
            </span>
        </div>
        <div class="form-grid grid p-p-md-2">
            <div class="field col">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-file"></i>
                        <input formControlName="name" id="name" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the name' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-tag"></i>
                        <input formControlName="version" id="version" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the version' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-bookmark"></i>
                        <input formControlName="tag" id="tag" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the tag' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-cog"></i>
                        <input formControlName="modelType" id="modelType" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the model type' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-id-card"></i>
                        <input formControlName="productIdentifier" id="productIdentifier" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the product identifier' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-chevron-up"></i>
                        <input formControlName="trlLevel" id="trlLevel" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the TRL Level' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-file-edit"></i>
                        <input formControlName="license" id="license" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the license' | translate }}" type="text">
                    </span>
                </div>
            </div>
            <div class="field col">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-user-plus"></i>
                        <input formControlName="primaryUse" id="primaryUse" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the primary use' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-users"></i>
                        <input formControlName="secondaryUse" id="secondaryUse" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the secondary use' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-user-edit"></i>
                        <input formControlName="intendedUsers" id="intendedUsers" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the intended users' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-ban"></i>
                        <input formControlName="counterIndications" id="counterIndications" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the counter indications' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-question-circle"></i>
                        <input formControlName="ethicalConsiderations" id="ethicalConsiderations" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the ethical considerations' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-exclamation-triangle"></i>
                        <input formControlName="limitations" id="limitations" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the limitations' | translate }}" type="text">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-lock"></i>
                        <input formControlName="fairnessConstraints" id="fairnessConstraints" pInputText class="w-full" placeholder="{{ 'ModelManagement.Enter the fairness constraints' | translate }}" type="text">
                    </span>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button type="button" (click)="closeDialog()" icon="pi pi-times" label="{{ 'Cancel' | translate }}" pButton class="p-button-primary"></button>
            <button type="submit" icon="pi pi-check" label="{{ 'Save' | translate }}" pButton class="p-button-primary" [disabled]="modelForm.invalid"></button>
        </div>
    </form>
</p-dialog>
