<div class="col-12">
    <!-- Owned Studies Card -->
    <div class="card p-3 mb-4">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'StudyManagement.OwnedStudies' | translate }}</div>
            <div class="inline-flex align-items-center">
              <span class="p-input-icon-left flex-auto mx-2">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="filter(ownedTable, $event)" placeholder="{{ 'Search' | translate }}"
                         class="w-full rounded-border"/>
              </span>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded button-secondary mx-2" (click)="createStudy()"
                        pTooltip="{{ 'StudyManagement.NewStudy' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #ownedTable [value]="ownedStudies" [columns]="columns" [rows]="10" [rowHover]="true" [paginator]="true"
                 [showCurrentPageReport]="true" [currentPageReportTemplate]="'StudyManagement.NumberOfEntries' | translate"
                 [rowsPerPageOptions]="[10, 25, 50]" [showLoader]="true" [loading]="loadingOwnedStudies"
                 [filterDelay]="0" [globalFilterFields]="['id', 'name', 'description', 'objectives', 'ethics']"
                 [sortField]="'name'">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'id'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.ID' | translate }}
                        <p-sortIcon [field]="'id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'name'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.Name' | translate }}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'description'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Description' | translate }}
                        <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'objectives'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Objectives' | translate }}
                        <p-sortIcon [field]="'objectives'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'ethics'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Ethics' | translate }}
                        <p-sortIcon [field]="'ethics'"></p-sortIcon>
                    </th>
                    <th>{{ 'StudyManagement.Actions' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-study>
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ study.id }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ study.name }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.description }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.objectives }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.ethics }}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" [icon]="'pi pi-pencil'" class="p-button-text p-button-rounded p-ripple"
                                (click)="editStudy(study.id)" pTooltip="{{ 'StudyManagement.EditStudy' | translate }}"
                                tooltipPosition="bottom"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-ripple"
                                (click)="deleteStudy(study.id)" pTooltip="{{ 'StudyManagement.DeleteStudy' | translate }}"
                                tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Assigned Studies Card -->
    <div class="card p-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'StudyManagement.AssignedStudies' | translate }}</div>
            <div class="inline-flex align-items-center">
              <span class="p-input-icon-left flex-auto mx-2">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="filter(assignedTable, $event)" placeholder="{{ 'Search' | translate }}"
                         class="w-full rounded-border"/>
              </span>
            </div>
        </div>
        <p-table #assignedTable [value]="assignedStudies" [columns]="columns" [rows]="10" [rowHover]="true" [paginator]="true"
                 [showCurrentPageReport]="true" [currentPageReportTemplate]="'StudyManagement.NumberOfEntries' | translate"
                 [rowsPerPageOptions]="[10, 25, 50]" [showLoader]="true" [loading]="loadingAssignedStudies"
                 [filterDelay]="0" [globalFilterFields]="['id', 'name', 'description', 'objectives', 'ethics']"
                 [sortField]="'name'">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'id'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.ID' | translate }}
                        <p-sortIcon [field]="'id'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'name'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.Name' | translate }}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'description'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Description' | translate }}
                        <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'objectives'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Objectives' | translate }}
                        <p-sortIcon [field]="'objectives'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'ethics'" class="white-space-nowrap text-center">
                        {{ 'StudyManagement.Ethics' | translate }}
                        <p-sortIcon [field]="'ethics'"></p-sortIcon>
                    </th>
                    <th>{{ 'StudyManagement.Actions' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-study>
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ study.id }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ study.name }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.description }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.objectives }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ study.ethics }}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-arrow-right" class="p-button-text p-button-rounded p-ripple"
                                (click)="accessStudy(study.id, study.roles)" pTooltip="{{ 'StudyManagement.AccessStudy' | translate }}"
                                tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
