<div class="content-container">
    <div class="card lg:pt-5">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'ParameterAssignment.ModelParameters' | translate }}</div>
            <div class="inline-flex align-items-center">
                <span class="p-input-icon-left flex-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filter(dt, $event)" placeholder="{{ 'Search' | translate }}" class="w-full rounded-border"/>
                </span>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary mx-2" (click)="createModelParameter()" pTooltip="{{ 'ParameterAssignment.CreateParameterAssignment' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dt [value]="modelParameters" [columns]="columns" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [showLoader]="true" [loading]="loading" [filterDelay]="0" [globalFilterFields]="['type', 'value', 'parameterTitle']" [sortField]="'type'">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="white-space-nowrap min-width-10rem">
                        {{ col.header | translate }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th>
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-modelParameter>
                <tr>
                    <td *ngFor="let col of columns" class="cursor-pointer">
                        <span>{{ modelParameter[col.field] || (col.field === 'parameterTitle' ? parameters[modelParameter.parameterId]?.name : '') }}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-text p-button-rounded p-ripple" (click)="showModelParameterForm(modelParameter)" pTooltip="{{ 'Edit' | translate }}" tooltipPosition="bottom"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-ripple" (click)="deleteModelParameter(modelParameter)" pTooltip="{{ 'Delete' | translate }}" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-model-parameter-form *ngIf="displayForm" [modelId]="selectedModelId" [parameterId]="selectedParameterId" (formClosed)="onFormClosed()"></app-model-parameter-form>
