<div class="flex-grow w-full">
    <app-selected-study-dropdown (onChangeStudy)="loadLearningProcess($event)"></app-selected-study-dropdown>
    <div *ngIf="!this.loading" class="card p-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'LearningProcessManagement.LearningProcesses' | translate }}</div>
            <div class="inline-flex align-items-center">
                <span class="p-input-icon-left flex-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filter(dt, $event)" placeholder="{{ 'Search' | translate }}"
                           class="w-full rounded-border"/>
                </span>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded button-secondary mx-2" (click)="createLearningProcess()"
                        pTooltip="{{ 'LearningProcessManagement.NewLearningProcess' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dt [value]="learningProcessList" [columns]="columns" [rows]="10" [rowHover]="true" [paginator]="true"
                 [showCurrentPageReport]="true" [currentPageReportTemplate]="'LearningProcessManagement.NumberOfEntries' | translate"
                 [rowsPerPageOptions]="[10,25,50]" [showLoader]="true" [loading]="loading" [filterDelay]="0"
                 [globalFilterFields]="['learningProcessId', 'title', 'description', 'version', 'referenceEntity']"
                 [sortField]="'title'">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'learningProcessId'"
                        class="white-space-nowrap min-width-10rem">
                        {{ 'LearningProcessManagement.ID' | translate }}
                        <p-sortIcon [field]="'learningProcessId'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'description'" class="white-space-nowrap text-center">
                        {{ 'LearningProcessManagement.Description' | translate }}
                        <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                    <th>
                        {{ 'LearningProcessManagement.Actions' | translate }}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-learningProcess>
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ learningProcess.learningProcessId }}</span>
                    </td>
                    <td class="text-center">
                        <span>{{ learningProcess.description }}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" [icon]="'pi pi-pencil'"
                                class="p-button-text p-button-rounded p-ripple" tooltipPosition="bottom"
                                (click)="editLearningProcess(learningProcess.learningProcessId)" pTooltip="{{ 'LearningProcessManagement.EditLearningProcess' | translate }}"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-ripple"
                                (click)="deleteLearningProcess(learningProcess.learningProcessId)" pTooltip="{{ 'LearningProcessManagement.DeleteLearningProcess' | translate }}"
                                tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
