.p-field {
  margin-bottom: 1rem;
}

.p-field-checkbox {
  display: flex;
  align-items: center;
}

.p-input-icon-left .pi {
  left: 0.5rem;
}

.p-input-icon-left input {
  padding-left: 2rem;
}

.align-checkbox {
  margin-top: 0.75rem;
}

