<div class="content-container">
    <div class="card p-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'StudyManagement.Population.Populations' | translate }}</div>
            <div class="inline-flex align-items-center">
        <span class="p-input-icon-left flex-auto mx-2">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filter(dt, $event)" placeholder="{{ 'Search' | translate }}" class="w-full rounded-border"/>
        </span>
                <button pButton pRipple [disabled]="viewMode" icon="pi pi-plus" class="p-button-rounded p-button-primary mx-2" (click)="createPopulation()" pTooltip="{{ 'StudyManagement.Population.Create Population' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dt [value]="populations" [columns]="columns" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [showLoader]="true" [loading]="loading" [filterDelay]="0" [globalFilterFields]="['populationId', 'title']" [sortField]="'title'">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'populationId'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.Population.PopulationID' | translate }}
                        <p-sortIcon [field]="'populationId'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'populationUrl'" class="white-space-nowrap min-width-10rem">
                        {{ 'StudyManagement.Population.Population Url' | translate }}
                        <p-sortIcon [field]="'populationUrl'"></p-sortIcon>
                    </th>
                    <th>
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-population>
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ population.populationId }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ population.populationUrl }}</span>
                    </td>
                    <td>
                        <button pButton pRipple [disabled]="viewMode" type="button" icon="pi pi-pencil" class="p-button-text p-button-rounded p-ripple" (click)="showPopulationForm(population.populationId)" pTooltip="{{ 'Details' | translate }}" tooltipPosition="bottom"></button>
                        <button pButton pRipple [disabled]="viewMode" type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-ripple" (click)="deletePopulation(population.populationId)" pTooltip="{{ 'Delete' | translate }}" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-population-details-form *ngIf="displayForm" [currentStudyId]="studyId" [populationId]="selectedPopulationId" (formClosed)="onFormClosed()"></app-population-details-form>
