.small-preview-dialog .ui-dialog {
  max-width: 800px;
}

.section-title h3 {
  font-size: 1.25rem;
  color: #495057;
  margin-bottom: 0.75rem;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.section-container {
  margin-bottom: 2rem;
}

.attribute-container {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.attribute-container:last-child {
  border-bottom: none;
}

.p-card-content {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  margin-bottom: 0.75rem;
  background-color: #f8f9fa;
}

.p-card-content:last-child {
  margin-bottom: 0;
}

.ui-dialog-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}