<div class="col-12">
    <div class="card p-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'PassportManagement.Passport Management' | translate }}</div>
            <div class="inline-flex align-items-center">
                <span class="p-input-icon-left flex-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filter(dt, $event)" placeholder="{{ 'PassportManagement.Search' | translate }}" class="w-full rounded-border"/>
                </span>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded button-secondary mx-2" (click)="createPassport()" pTooltip="{{ 'PassportManagement.Create Passport' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dt [value]="passportWithModelNameList" [columns]="columns" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [showLoader]="true" [loading]="loading" [filterDelay]="0" [globalFilterFields]="['passport.passportId', 'modelName']" [sortField]="'passport.passportId'">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'passport.passportId'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.ID' | translate }}
                        <p-sortIcon [field]="'passport.passportId'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'modelName'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.Model' | translate }}
                        <p-sortIcon [field]="'modelName'"></p-sortIcon>
                    </th>
                    <th>{{ 'PassportManagement.Actions' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-passportWithModelName>
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.passport.passportId }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.modelName }}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-upload" class="p-button-text p-button-rounded p-ripple"
                                (click)="selectPassportForImport(passportWithModelName.passport.passportId)"
                                pTooltip="{{ 'PassportManagement.Export Passport' | translate }}" tooltipPosition="bottom">
                            {{ 'PassportManagement.Export Passport' | translate }}
                        </button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-rounded p-ripple"
                                (click)="deletePassport(passportWithModelName.passport.passportId)"
                                pTooltip="{{ 'PassportManagement.Delete Passport' | translate }}" tooltipPosition="bottom">
                            {{ 'PassportManagement.Delete Passport' | translate }}
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Miniature Version in Modal -->
<p-dialog header="{{ 'PassportManagement.PDF Preview' | translate }}" [(visible)]="showPdfPreview" [modal]="true" [closable]="false" styleClass="small-preview-dialog">
    <div id="pdfPreviewContainer" class="page-preview-container">
        <div class="grid" style="padding: 1rem;">
            <!-- General Title -->
            <div class="col-12">
                <h2 class="text-center">{{ 'PassportManagement.AI4HF Product Passport' | translate }}</h2>
            </div>

            <!-- Model Deployment Details Title -->
            <div class="col-12 section-title">
                <h3>{{ 'PassportManagement.Model Deployment Details' | translate }}</h3>
            </div>
            <div class="col-12 section-container" style="margin-bottom: 2rem;">
                <p-card class="p-0 w-full">
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Deployment Tags' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.tags }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Deployment Status' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.status }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Identified Failures' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.identifiedFailures }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Created At' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.createdAt | date: 'medium' }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Created By' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.createdBy }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Last Updated At' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.lastUpdatedAt | date: 'medium' }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Last Updated By' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ deploymentDetails?.lastUpdatedBy }}</span>
                        </div>
                    </div>
                </p-card>
            </div>

            <!-- Environment Details Title -->
            <div class="col-12 section-title">
                <h3>{{ 'PassportManagement.Environment Details' | translate }}</h3>
            </div>
            <div class="col-12 section-container" style="margin-bottom: 2rem;">
                <p-card class="p-0 w-full">
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Environment Title' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ environmentDetails?.title }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Environment Description' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ environmentDetails?.description }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Hardware Properties' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ environmentDetails?.hardwareProperties }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Software Properties' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ environmentDetails?.softwareProperties }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Connectivity Details' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ environmentDetails?.connectivityDetails }}</span>
                        </div>
                    </div>
                </p-card>
            </div>

            <!-- Model Details Title -->
            <div class="col-12 section-title">
                <h3>{{ 'PassportManagement.Model Details' | translate }}</h3>
            </div>
            <div class="col-12 section-container" style="margin-bottom: 2rem;">
                <p-card class="p-0 w-full">
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Model Name' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.name }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Model Version' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.version }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Model Type' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.modelType }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Product Identifier' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.productIdentifier }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Owner' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.owner }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.TRL Level' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.trlLevel }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.License' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.license }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Primary Use' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.primaryUse }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Secondary Use' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.secondaryUse }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Intended Users' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.intendedUsers }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Counter Indications' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.counterIndications }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Ethical Considerations' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.ethicalConsiderations }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Limitations' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.limitations }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Fairness Constraints' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.fairnessConstraints }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Created At' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.createdAt | date: 'medium' }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Created By' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.createdBy }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Last Updated At' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.lastUpdatedAt | date: 'medium' }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Last Updated By' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ modelDetails?.lastUpdatedBy }}</span>
                        </div>
                    </div>
                </p-card>
            </div>

            <!-- Study Details Title -->
            <div class="col-12 section-title">
                <h3>{{ 'PassportManagement.Study Details' | translate }}</h3>
            </div>
            <div class="col-12 section-container">
                <p-card class="p-0 w-full">
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Study Name' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ studyDetails?.name }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Study Description' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ studyDetails?.description }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Study Objectives' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ studyDetails?.objectives }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container" style="margin-bottom: 1rem;">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Study Ethics' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ studyDetails?.ethics }}</span>
                        </div>
                    </div>
                    <div class="grid grid-nogutter attribute-container">
                        <div class="col-4 flex align-items-center">
                            <label class="text-900 font-semibold">{{ 'PassportManagement.Owner' | translate }}:</label>
                        </div>
                        <div class="col-8 text-700 flex align-items-center">
                            <span>{{ studyDetails?.owner }}</span>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    <div class="ui-dialog-footer" style="padding-top: 10px; padding-bottom: 10px;">
        <button pButton type="button" label="{{ 'PassportManagement.CANCEL' | translate }}" icon="pi pi-times" (click)="closePdfPreview()" style="float: left;"></button>
        <button pButton type="button" label="{{ 'PassportManagement.EXPORT' | translate }}" icon="pi pi-check" (click)="generatePdf()" style="float: right;"></button>
    </div>
</p-dialog>
