<div class="col-12">
    <div *ngIf="!this.loading" class="card p-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'PassportManagement.Passport Management' | translate }}</div>
            <div class="inline-flex align-items-center">
                <span class="p-input-icon-left flex-auto mx-2">
                    <i class="pi pi-search"></i>
                    <input (input)="filter(dt, $event)" class="w-full rounded-border" pInputText
                           placeholder="{{ 'Search' | translate }}" type="text"/>
                </span>
                <button (click)="createPassport()" class="p-button-rounded button-secondary mx-2" icon="pi pi-plus"
                        pButton
                        pRipple pTooltip="{{ 'PassportManagement.Create Passport' | translate }}"
                        tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dt [columns]="columns" [filterDelay]="0" [globalFilterFields]="['passport.passportId', 'modelName', 'passport.createdBy', 'passport.createdAt']"
                 [loading]="loading"
                 [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [rows]="10" [showLoader]="true"
                 [sortField]="'passport.passportId'" [value]="passportWithModelNameList">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="'passport.passportId'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.ID' | translate }}
                        <p-sortIcon [field]="'passport.passportId'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'modelName'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.Model' | translate }}
                        <p-sortIcon [field]="'modelName'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'passport.createdBy'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.CreatedBy' | translate }}
                        <p-sortIcon [field]="'passport.createdBy'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'passport.createdAt'" class="white-space-nowrap min-width-10rem">
                        {{ 'PassportManagement.CreatedAt' | translate }}
                        <p-sortIcon [field]="'passport.createdAt'"></p-sortIcon>
                    </th>
                    <th>{{ 'PassportManagement.Actions' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template let-passportWithModelName pTemplate="body">
                <tr>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.passport.passportId }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.modelName }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.passport.createdBy }}</span>
                    </td>
                    <td class="cursor-pointer">
                        <span>{{ passportWithModelName.passport.createdAt | date:'short' }}</span>
                    </td>
                    <td>
                        <button (click)="selectPassportForImport(passportWithModelName.passport.passportId)"
                                class="p-button-text p-button-rounded p-ripple" icon="pi pi-upload" pButton
                                pRipple
                                pTooltip="{{ 'PassportManagement.Export Passport' | translate }}"
                                tooltipPosition="bottom"
                                type="button">
                        </button>
                        <button
                                (click)="viewAuditLogs(passportWithModelName.passport.passportId)"
                                class="p-button-text p-button-rounded p-ripple"
                                icon="pi pi-eye"
                                pButton
                                pRipple
                                pTooltip="{{ 'PassportManagement.ViewAuditLogs' | translate }}"
                                tooltipPosition="bottom"
                                type="button"
                        >
                        </button>
                        <button (click)="deletePassport(passportWithModelName.passport.passportId)"
                                class="p-button-text p-button-rounded p-ripple" icon="pi pi-trash" pButton
                                pRipple
                                pTooltip="{{ 'PassportManagement.Delete Passport' | translate }}"
                                tooltipPosition="bottom"
                                type="button">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-passport-management-form (formClosed)="onFormClosed()" *ngIf="this.displayForm"></app-passport-management-form>

<app-passport-pdf-export
        *ngIf="showPdfPreview"
        (pdfPreviewClosed)="closePdfPreview()"
        [deploymentDetails]="deploymentDetails"
        [environmentDetails]="environmentDetails"
        [modelDetails]="modelDetails"
        [studyDetails]="studyDetails"
        [parameters]="parameters"
        [learningStageParameters]="learningStageParameters"
        [learningProcessParameters]="learningProcessParameters"
        [populationDetails]="populationDetails"
        [experiments]="experiments"
        [linkedArticles]="linkedArticles"
        [surveys]="surveys"
        [datasetsWithLearningDatasets]="datasetsWithLearningDatasets"
        [featureSetsWithFeatures]="featureSetsWithFeatures"
        [learningProcessesWithStages]="learningProcessesWithStages"
        [evaluationMeasures]="evaluationMeasures"
        [modelFigures]="modelFigures"
></app-passport-pdf-export>