<div class="container">
  <h1>{{ 'STUDYPAGE' | translate }}</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'NAME' | translate }}</th>
      <th scope="col">{{ 'DESCRIPTION' | translate }}</th>
      <th scope="col">{{ 'ACTION' | translate }}</th>
      <th scope="col">{{ 'SELECT' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let study of studies">
      <th scope="row">{{ study.id }}</th>
      <td>{{ study.name }}</td>
      <td>{{ study.description }}</td>
      <td>
        <!-- Add other actions buttons here if needed
        <button class="btn btn-danger" (click)="deleteStudy(study)">Delete</button> -->
      </td>
      <td>
        <input type="checkbox" (change)="selectStudy(study)">
      </td>
    </tr>
    </tbody>
    <!-- Pagination -->
    <div class="pagination">
      <button class="btn btn-primary" [disabled]="currentPage === 0" (click)="goToPreviousPage()">Previous</button>
      <button class="btn btn-primary" [disabled]="nextPageAvailability === false" (click)="goToNextPage()">Next</button>
    </div>
  </table>

  <button class="btn btn-danger" [disabled]="selectedStudies.length === 0" (click)="deleteSelectedStudies()">{{ 'DELETESTUDIES' | translate }}</button>
  <button class="btn btn-danger" [disabled]="selectedStudies.length !== 1" (click)="loadStudiesByPage(currentPage)">{{ 'UPDATESTUDY' | translate }}</button>
  <button class="btn btn-danger" [disabled]="selectedStudies.length !== 0" (click)="loadStudiesByPage(currentPage)">{{ 'CREATESTUDY' | translate }}</button>
</div>

