<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ 'STUDYPAGE' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped" style="margin-top: 1px; border: 2px solid green;">
        <thead style="background-color: darkgreen; color: white;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ 'NAME' | translate }}</th>
          <th scope="col">{{ 'DESCRIPTION' | translate }}</th>
          <th scope="col">{{ 'SELECT' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let study of studies">
          <th scope="row">{{ study.id }}</th>
          <td>{{ study.name }}</td>
          <td>{{ study.description }}</td>
          <td>
            <input type="checkbox" (change)="selectStudy(study)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="pagination" style="margin-top: 10px;">
        <button class="btn btn-primary" [disabled]="currentPage === 0" (click)="goToPreviousPage()">Previous</button>
        <button class="btn btn-primary" [disabled]="nextPageAvailability === false" (click)="goToNextPage()">Next</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" style="margin-top: 10px;">
      <button class="btn btn-danger" *ngIf="selectedStudies.length === 0" (click)="loadStudiesByPage(currentPage)">{{ 'CREATESTUDY' | translate }}</button>
      <button class="btn btn-danger" *ngIf="selectedStudies.length !== 0" (click)="deleteSelectedStudies()">{{ 'DELETESTUDIES' | translate }}</button>
      <button class="btn btn-danger" *ngIf="selectedStudies.length === 1" (click)="loadStudiesByPage(currentPage)">{{ 'UPDATESTUDY' | translate }}</button>
    </div>
  </div>
</div>





