<p-dialog [(visible)]="display" [modal]="true" header="{{ 'OrganizationManagement.PersonnelForm' | translate }}" (onHide)="closeDialog()"
          [style]="{width: '30rem'}">
    <form *ngIf="display" (ngSubmit)="savePersonnel()" [formGroup]="personnelForm">
        <div *ngIf="!this.personnelId" class="p-field p-col-12 p-md-12">
            <label for="username" class="font-bold">{{ 'OrganizationManagement.Username' | translate }}</label>
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-user"></i>
                <input formControlName="username" id="username" pInputText class="w-full" placeholder="{{ 'OrganizationManagement.Enter username' | translate }}" type="text">
            </span>
        </div>
        <div *ngIf="!this.personnelId" class="p-field p-col-12 p-md-12">
            <label for="password" class="font-bold">{{ 'OrganizationManagement.Password' | translate }}</label>
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-key"></i>
                <input formControlName="password" id="password" pInputText class="w-full" placeholder="{{ 'OrganizationManagement.Enter password' | translate }}" type="password">
            </span>
        </div>
        <div class="form-grid grid p-p-md-2">
            <div class="field col">
                <label for="firstName" class="font-bold">{{ 'OrganizationManagement.First Name' | translate }}</label>
                <div class="p-field p-col-12 p-md-12">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-user"></i>
                        <input formControlName="firstName" id="firstName" pInputText class="w-full" placeholder="{{ 'OrganizationManagement.Enter first name' | translate }}" type="text">
                    </span>
                </div>
                <label for="lastName" class="font-bold">{{ 'OrganizationManagement.Last Name' | translate }}</label>
                <div class="p-field p-col-12 p-md-12">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-user"></i>
                        <input formControlName="lastName" id="lastName" pInputText class="w-full" placeholder="{{ 'OrganizationManagement.Enter last name' | translate }}" type="text">
                    </span>
                </div>
                <label for="email" class="font-bold">{{ 'OrganizationManagement.Email' | translate }}</label>
                <div class="p-field p-col-12 p-md-12">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-envelope"></i>
                        <input formControlName="email" id="email" pInputText class="w-full" placeholder="{{ 'OrganizationManagement.Enter email' | translate }}" type="email">
                    </span>
                </div>
                <div *ngIf="!this.personnelId" class="p-field p-col-12 p-md-12">
                    <div class="p-field p-col-12 p-md-12 mb-4 ">
                        <p-checkbox formControlName="role" [binary]="true" inputId="role" class="align-checkbox mr-2"></p-checkbox>
                        <label for="role" class="font-bold">{{ 'OrganizationManagement.Study Owner' | translate }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button type="button" (click)="closeDialog()" icon="pi pi-times" label="{{ 'Cancel' | translate }}" pButton class="p-button-primary"></button>
            <button type="submit" icon="pi pi-check" label="{{ 'Save' | translate }}" pButton class="p-button-primary" [disabled]="personnelForm.invalid"></button>
        </div>
    </form>
</p-dialog>
