<p-card class="w-full">
    <p class="flex align-items-center">
        <strong>{{ 'StudyManagement.Personnel.Responsible Organization' | translate }}</strong>
        <app-tooltip class="ml-2" message="StudyManagement.ResponsibleOrganizationTooltip"></app-tooltip>
    </p>
    <p-dropdown
            [options]="organizationList"
            optionLabel="name"
            optionValue="organizationId"
            [style]="{'minWidth':'100%', 'margin-bottom': '1rem'}"
            placeholder="{{'StudyManagement.Personnel.Select an organization' | translate}}"
            (onChange)="selectAnOrganization($event.value)">
    </p-dropdown>

    <!-- Population Dropdown -->
    <p *ngIf="!formDisabled" class="flex align-items-center">
        <strong>{{ 'StudyManagement.Personnel.Population' | translate }}</strong>
        <app-tooltip class="ml-2" message="StudyManagement.PopulationTooltip"></app-tooltip>
    </p>
    <p-dropdown
            *ngIf="!formDisabled"
            [options]="populationList"
            optionLabel="populationUrl"
            optionValue="populationId"
            [(ngModel)]="selectedPopulationId"
            [disabled]="formDisabled"
            [style]="{'minWidth':'100%', 'margin-bottom': '1rem'}"
            placeholder="{{'StudyManagement.Personnel.Select a Population' | translate}}">
    </p-dropdown>

    <!-- Personnel Table -->
    <p-table [value]="mappedPersonnelList" *ngIf="!formDisabled">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'StudyManagement.Personnel.Name' | translate }}</th>
                <th>{{ 'StudyManagement.Personnel.Surname' | translate }}</th>
                <th>{{ 'StudyManagement.Personnel.Roles' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
            <tr>
                <td>{{ entry.personnel.firstName }}</td>
                <td>{{ entry.personnel.lastName }}</td>
                <td>
                    <div *ngFor="let role of roles">
                        <p-checkbox [(ngModel)]="entry.roles" [value]="role.value" [label]="role.name"></p-checkbox>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Save Button -->
    <div class="flex justify-content-end mt-4">
        <button pButton pRipple label="{{ 'Save' | translate }}" (click)="save()" [disabled]="formDisabled"></button>
    </div>
</p-card>
