.firstName {
  flex: 2
}

.lastName {
  flex: 2
}

.role {
  flex: 9
}

:host ::ng-deep .p-card-body{
  margin-bottom: 2rem !important;
  padding-bottom: 0 !important;
}

.checkbox-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 3rem;
  gap: 0.5rem;
}

.field-checkbox {
  display: flex;
  align-items: center;
}