<div class="col-12">
    <div class="card p-mt-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'QualityManagement.Quality Assessments' | translate }}</div>
            <span class="p-input-icon-left flex-auto mx-2">
                <i class="pi pi-search"></i>
                <input (input)="filter(dt, $event)" class="w-full rounded-border" pInputText
                       placeholder="{{ 'Search' | translate }}" type="text"/>
            </span>
        </div>
        <p-table
            #dt
            dataKey="qualityAssessmentId"
            [loading]="loading"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [rows]="10"
            [totalRecords]="qualityAssessmentList?.length"
            [value]="qualityAssessmentList"
            (onRowExpand)="onRowExpand($event.data)"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th>{{ 'QualityManagement.Dataset' | translate }}</th>
                    <th>{{ 'QualityManagement.Center' | translate }}</th>
                    <th pSortableColumn="executedAt">{{ 'QualityManagement.Executed At' | translate }}
                        <p-sortIcon field="executedAt"></p-sortIcon>
                    </th>
                    <th pSortableColumn="overallResult">{{ 'QualityManagement.Overall Result' | translate }}
                        <p-sortIcon field="overallResult"></p-sortIcon>
                    </th>
                    <th>{{ 'QualityManagement.Summary' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template let-assessment pTemplate="body" let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="assessment"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{ datasetById[assessment.datasetId]?.title || assessment.datasetId }}</td>
                    <td>{{ datasetById[assessment.datasetId]?.organizationName }}</td>
                    <td>{{ assessment.executedAt | date: 'short' }}</td>
                    <td>{{ assessment.overallResult }}</td>
                    <td>{{ assessment.summary }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-assessment>
                <tr>
                    <td colspan="6">
                        <div class="p-3">
                            <p-table [value]="resultsByAssessmentId[assessment.qualityAssessmentId]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{ 'QualityManagement.Rule' | translate }}</th>
                                        <th>{{ 'QualityManagement.Value' | translate }}</th>
                                        <th>{{ 'QualityManagement.Result' | translate }}</th>
                                        <th>{{ 'QualityManagement.Detail' | translate }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-result>
                                    <tr>
                                        <td>{{ criterionNameById[result.qualityCriterionId] || result.qualityCriterionId }}</td>
                                        <td>{{ result.value }}</td>
                                        <td>{{ result.result }}</td>
                                        <td>{{ result.detail }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">{{ 'QualityManagement.No results' | translate }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">{{ 'QualityManagement.No assessments' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
