.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--surface-b);
}

.not-found-card {
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
}

.not-found-content p {
  margin: 1rem 0;
}

.p-button-primary {
  margin-top: 1rem;
}