.figure-card {
  .thumb-wrapper {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .thumb-img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.full-img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.preview-wrapper {
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 4px;

  .preview-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    display: block;
  }
}

.no-figure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--surface-b);
}

.no-figure-card {
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
}

.no-figure-content p {
  margin: 1rem 0;
}