.figure-card {
  .thumb-wrapper {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .thumb-img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.full-img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.preview-wrapper {
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 4px;

  .preview-img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    display: block;
  }
}
