.field {
  margin-bottom: 0;
}

.p-field-checkbox {
  display: flex;
  align-items: center;
}

.p-input-icon-left .pi {
  left: 0.5rem;
}

.p-input-icon-left input {
  padding-left: 2rem;
}

.align-checkbox {
  margin-top: 0;
}

.tooltip-div {
  margin-left: 0.5rem;
}

::ng-deep .p-dialog-content {
  padding: 0px 1.5rem 1.5rem !important;
}

i {
  z-index: 1;
}

::ng-deep .p-autocomplete .p-inputtext {
  padding-left: 2.5rem;
  width: 100%;
}

::ng-deep .p-dropdown .p-inputtext {
  padding-left: 2.5rem;
}
