<div class="card p-3 mb-5">
    <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
        <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">
            {{ 'ModelManagement.ActiveStudy' | translate }}
        </div>
    </div>
    <p-dropdown
            (onChange)="changeStudy($event.value)"
            [(ngModel)]="this.selectedStudyId"
            [options]="studies"
            [style]="{'minWidth':'100%'}"
            optionLabel="name"
            optionValue="id"
            placeholder="{{ 'ModelManagement.Select a study' | translate }}"
    ></p-dropdown>
</div>
