.field {
  margin-bottom: 0;
}

i {
  z-index: 1;
}
::ng-deep .p-autocomplete .p-inputtext {
  padding-left: 2.5rem;
  width: 100%
}

::ng-deep .p-dropdown .p-inputtext {
  padding-left: 2.5rem;
}

.readonly-input {
  background-color: #f1f3f5 !important;
  border-color: #d6d6d6 !important;
  color: #6c757d !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  box-shadow: none !important;
  user-select: none !important;
}
