<style>
  .custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* pink-re hue */
    border: 2px solid rgba(255, 30, 0, 0.93);
    box-sizing: border-box; /* Ensure border is included in width calculation */
    padding: 10px;
    color: rgba(255, 30, 0, 0.96);
    z-index: 1000; /* Ensure the header appears above other content */
  }

  .header-text {
    text-align: left;
    margin-left: 20px; /* Adjust this value to move the text to the left */
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: Arial, sans-serif; /* Specify font family */
    letter-spacing: 1px; /* Add letter spacing */
  }
  .content {
    margin-top: 70px; /* Adjust this value to leave space for the header */
    padding: 20px; /* Optional: Add padding to the content area */
  }
</style>

<div class="container-fluid">
  <div class="row">
    <nav *ngIf="loginCheck()" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <!-- Display navbar items based on user roles -->
          <li *ngFor="let role of userRoles">
            <a class="nav-link">{{ role }}</a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

<div class="custom-header">
  <h1 class="header-text">AI4HF Product Passport</h1>
</div>

<div class="content">
  <!-- Content rendered by the router outlet goes here -->
  <router-outlet></router-outlet>
</div>
    </main>
  </div>
</div>
