<p-dialog (onHide)="closeDialog()" [(visible)]="this.display" [modal]="true" [style]="{width: '30rem'}"
          header="{{ 'LearningProcessManagement.LearningStageForm' | translate }}">
    <form (ngSubmit)="save()" *ngIf="this.display" [formGroup]="form">
        <div class="form-grid grid">
            <div class="field col">
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-tags"></i>
                        <input class="w-full" formControlName="learningStageName" id="learningStageName" pInputText
                               placeholder="{{ 'LearningProcessManagement.LearningStageName' | translate }}">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-bookmark"></i>
                        <input class="w-full" formControlName="description" id="description" pInputText
                               placeholder="{{ 'LearningProcessManagement.Description' | translate }}">
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="p-input-icon-left w-full mb-4">
                        <i class="pi pi-hashtag"></i>
                        <input class="w-full" formControlName="datasetPercentage" id="datasetPercentage" pInputText
                               placeholder="{{ 'LearningProcessManagement.DatasetPercentage' | translate }}">
                    </span>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between">
            <button (click)="closeDialog()" class="p-button-primary" icon="pi pi-times"
                    label="{{ 'Cancel' | translate }}" pButton type="button"></button>
            <button [disabled]="form.invalid" class="p-button-primary" icon="pi pi-check" label="{{ 'Save' | translate }}"
                    pButton type="submit"></button>
        </div>
    </form>
</p-dialog>
