.pdf-container {
  width: 100%;
  max-width: 1200px; /* Increased width */
  padding: 2rem 3rem; /* Added padding for better alignment */

  .pdf-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e57373;

    .logo-section img {
      max-height: 50px;
    }

    .title-section .pdf-title {
      font-size: 2rem;
      font-weight: bold;
      color: #e57373;
      margin: 0;
    }
  }

  .top-decoration {
    background: linear-gradient(to right, #e57373, #ffccbc);
    height: 8px;
    margin-bottom: 1.5rem;
  }

  .section {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    page-break-inside: avoid;
    break-inside: avoid;

    .section-title {
      font-size: 1.75rem; /* Slightly larger font size for titles */
      font-weight: bold;
      color: #e57373;
      border-bottom: 2px solid #e57373;
      padding-bottom: 0.5rem;
      margin-bottom: 1.25rem;
      font-family: 'Anybody', sans-serif; /* Applied Anybody font */
    }

    .section-content {
      .row {
        margin-bottom: 1rem; /* Increased margin between rows */

        .col-12 {
          display: flex;
          justify-content: space-between;
          padding: 0.75rem 0; /* Added padding for better alignment */

          .attribute-title {
            font-weight: bold;
            color: #616161;
            font-family: 'Anybody', sans-serif; /* Applied Anybody font */
          }

          .attribute-value {
            color: #424242;
            text-align: right;
            padding-left: 2rem; /* Added padding for better alignment */
            font-family: 'Anybody', sans-serif; /* Applied Anybody font */
            font-weight: 400; /* Anybody Regular */
          }
        }
      }
    }
  }

  p-table {
    width: 100%;
    margin-top: 1.5rem; /* Increased margin top for better spacing */

    th, td {
      text-align: left;
      padding: 1rem; /* Increased padding for table cells */
      font-family: 'Anybody', sans-serif; /* Applied Anybody font */
    }

    th {
      font-weight: bold;
      color: #e57373;
      border-bottom: 1px solid #e57373;
    }

    td {
      color: #424242;
      font-weight: 400; /* Anybody Regular */
    }
  }
}

.small-preview-dialog {
  .ui-dialog-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
  }

  .cancel-button {
    float: left;
  }

  .export-button {
    float: right;
  }
}
