<p-dialog [(visible)]="display" [closable]="false" [modal]="true"
          header="{{ 'PassportManagement.PDF Preview' | translate }}" styleClass="small-preview-dialog">
    <div class="page-preview-container" id="pdfPreviewContainer">
        <div class="pdf-container">
            <div class="passport-header">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 40pt; vertical-align: middle;">
                            <img alt="Logo" src="favicon.ico" style="width: 32pt; height: 32pt;">
                        </td>

                        <td style="vertical-align: middle;">
                            <h2 class="passport-header-title">{{ 'PassportManagement.AI4HF Product Passport' | translate }}</h2>
                        </td>
                    </tr>
                </table>
            </div>


            <!-- Model Details Section -->
            <div *ngIf="modelDetails" class="section">
                <div class="section-title">{{ 'PassportManagement.Model Details' | translate }}</div>
                <div class="section-content">
                    <table class="attribute-table">
                        <tr *ngIf="modelDetails.name">
                            <td class="attribute-title">{{ 'PassportManagement.Model Name' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.name }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.version">
                            <td class="attribute-title">{{ 'PassportManagement.Model Version' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.version }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.modelType">
                            <td class="attribute-title">{{ 'PassportManagement.Model Type' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.modelType }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.productIdentifier">
                            <td class="attribute-title">{{ 'PassportManagement.Product Identifier' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.productIdentifier }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.owner">
                            <td class="attribute-title">{{ 'PassportManagement.Owner' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.owner }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.trlLevel">
                            <td class="attribute-title">{{ 'PassportManagement.TRL Level' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.trlLevel }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.license">
                            <td class="attribute-title">{{ 'PassportManagement.License' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.license }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.primaryUse">
                            <td class="attribute-title">{{ 'PassportManagement.Primary Use' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.primaryUse }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.secondaryUse">
                            <td class="attribute-title">{{ 'PassportManagement.Secondary Use' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.secondaryUse }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.intendedUsers">
                            <td class="attribute-title">{{ 'PassportManagement.Intended Users' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.intendedUsers }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.counterIndications">
                            <td class="attribute-title">{{ 'PassportManagement.Counter Indications' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.counterIndications }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.ethicalConsiderations">
                            <td class="attribute-title">{{ 'PassportManagement.Ethical Considerations' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.ethicalConsiderations }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.limitations">
                            <td class="attribute-title">{{ 'PassportManagement.Limitations' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.limitations }}</td>
                        </tr>
                        <tr *ngIf="modelDetails.fairnessConstraints">
                            <td class="attribute-title">{{ 'PassportManagement.Fairness Constraints' | translate }}</td>
                            <td class="attribute-value">{{ modelDetails.fairnessConstraints }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Deployment Details Section -->
            <div *ngIf="deploymentDetails" class="section">
                <div class="section-title">{{ 'PassportManagement.Model Deployment Details' | translate }}</div>
                <div class="section-content">
                    <table class="attribute-table">
                        <tr *ngIf="deploymentDetails.tags">
                            <td class="attribute-title">{{ 'PassportManagement.Deployment Tags' | translate }}</td>
                            <td class="attribute-value">{{ deploymentDetails?.tags }}</td>
                        </tr>
                        <tr *ngIf="deploymentDetails.status">
                            <td class="attribute-title">{{ 'PassportManagement.Deployment Status' | translate }}</td>
                            <td class="attribute-value">{{ deploymentDetails?.status }}</td>
                        </tr>
                        <tr *ngIf="deploymentDetails.identifiedFailures">
                            <td class="attribute-title">{{ 'PassportManagement.Identified Failures' | translate }}</td>
                            <td class="attribute-value">{{ deploymentDetails?.identifiedFailures }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Environment Details Section -->
            <div *ngIf="environmentDetails" class="section">
                <div class="section-title">{{ 'PassportManagement.Environment Details' | translate }}</div>
                <div class="section-content">
                    <table class="attribute-table">
                        <tr *ngIf="environmentDetails.title">
                            <td class="attribute-title">{{ 'PassportManagement.Environment Title' | translate }}</td>
                            <td class="attribute-value">{{ environmentDetails?.title }}</td>
                        </tr>
                        <tr *ngIf="environmentDetails.description">
                            <td class="attribute-title">{{ 'PassportManagement.Environment Description' | translate }}</td>
                            <td class="attribute-value">{{ environmentDetails?.description }}</td>
                        </tr>
                        <tr *ngIf="environmentDetails.hardwareProperties">
                            <td class="attribute-title">{{ 'PassportManagement.Hardware Properties' | translate }}</td>
                            <td class="attribute-value">{{ environmentDetails?.hardwareProperties }}</td>
                        </tr>
                        <tr *ngIf="environmentDetails.softwareProperties">
                            <td class="attribute-title">{{ 'PassportManagement.Software Properties' | translate }}</td>
                            <td class="attribute-value">{{ environmentDetails?.softwareProperties }}</td>
                        </tr>
                        <tr *ngIf="environmentDetails.connectivityDetails">
                            <td class="attribute-title">{{ 'PassportManagement.Connectivity Details' | translate }}</td>
                            <td class="attribute-value">{{ environmentDetails?.connectivityDetails }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Feature Sets Section -->
            <div *ngIf="featureSetsWithFeatures.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Feature Sets' | translate }}</div>
                <p-table [value]="featureSetsWithFeatures" class="feature-sets-table" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.title'">{{ 'PassportManagement.FeatureSet Title' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.description'">{{ 'PassportManagement.FeatureSet Description' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.featuresetURL'">{{ 'PassportManagement.FeatureSet URL' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.createdAt'">{{ 'PassportManagement.FeatureSet Created At' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.createdBy'">{{ 'PassportManagement.FeatureSet Created By' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.lastUpdatedAt'">{{ 'PassportManagement.FeatureSet Last Updated At' | translate }}</th>
                            <th *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.lastUpdatedBy'">{{ 'PassportManagement.FeatureSet Last Updated By' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-featureSetWithFeatures pTemplate="body">
                        <tr>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.title'">{{ featureSetWithFeatures.featureSet.title }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.description'">{{ featureSetWithFeatures.featureSet.description }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.featuresetURL'">{{ featureSetWithFeatures.featureSet.featuresetURL }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.createdAt'">{{ featureSetWithFeatures.featureSet.createdAt | date: 'medium' }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.createdBy'">{{ featureSetWithFeatures.featureSet.createdBy }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.lastUpdatedAt'">{{ featureSetWithFeatures.featureSet.lastUpdatedAt | date: 'medium' }}</td>
                            <td *ngIf="featureSetsWithFeatures | hasAnyValue: 'featureSet.lastUpdatedBy'">{{ featureSetWithFeatures.featureSet.lastUpdatedBy }}</td>
                        </tr>
                        <!-- Nested Features Table -->
                        <tr>
                            <td colspan="7">
                                <p-table [value]="featureSetWithFeatures.features" class="features-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'title'">{{ 'PassportManagement.Feature Title' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'description'">{{ 'PassportManagement.Feature Description' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'dataType'">{{ 'PassportManagement.Feature DataType' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'isOutcome'">{{ 'PassportManagement.Feature IsOutcome' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'mandatory'">{{ 'PassportManagement.Feature Mandatory' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'isUnique'">{{ 'PassportManagement.Feature Unique' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'units'">{{ 'PassportManagement.Feature Units' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'equipment'">{{ 'PassportManagement.Feature Equipment' | translate }}</th>
                                            <th *ngIf="featureSetWithFeatures.features | hasAnyValue: 'dataCollection'">{{ 'PassportManagement.Feature DataCollection' | translate }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-feature pTemplate="body">
                                        <tr>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'title'">{{ feature.title }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'description'">{{ feature.description }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'dataType'">{{ feature.dataType }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'isOutcome'">{{ feature.isOutcome ? 'Yes' : 'No' }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'mandatory'">{{ feature.mandatory ? 'Yes' : 'No' }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'isUnique'">{{ feature.isUnique ? 'Yes' : 'No' }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'units'">{{ feature.units }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'equipment'">{{ feature.equipment }}</td>
                                            <td *ngIf="featureSetWithFeatures.features | hasAnyValue: 'dataCollection'">{{ feature.dataCollection }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Datasets Section -->
            <div *ngIf="datasetsWithLearningDatasets.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Datasets' | translate }}</div>
                <p-table [value]="datasetsWithLearningDatasets" class="datasets-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.title'">{{ 'PassportManagement.Dataset Title' | translate }}</th>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.description'">{{ 'PassportManagement.Dataset Description' | translate }}</th>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.version'">{{ 'PassportManagement.Dataset Version' | translate }}</th>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.referenceEntity'">{{ 'PassportManagement.Dataset Reference Entity' | translate }}</th>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.numOfRecords'">{{ 'PassportManagement.Dataset Number of Records' | translate }}</th>
                            <th *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.synthetic'">{{ 'PassportManagement.Dataset Synthetic' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-datasetWithLearningDatasets pTemplate="body">
                        <tr>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.title'">{{ datasetWithLearningDatasets.dataset.title }}</td>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.description'">{{ datasetWithLearningDatasets.dataset.description }}</td>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.version'">{{ datasetWithLearningDatasets.dataset.version }}</td>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.referenceEntity'">{{ datasetWithLearningDatasets.dataset.referenceEntity }}</td>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.numOfRecords'">{{ datasetWithLearningDatasets.dataset.numOfRecords }}</td>
                            <td *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'dataset.synthetic'">{{ datasetWithLearningDatasets.dataset.synthetic ? 'Yes' : 'No' }}</td>
                        </tr>
                        <!-- Nested Learning Datasets Table -->
                        <tr *ngIf="datasetsWithLearningDatasets | hasAnyValue: 'learningDatasets.description'">
                            <td colspan="6">
                                <p-table [value]="datasetWithLearningDatasets.learningDatasets"
                                         class="learning-datasets-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>{{ 'PassportManagement.LearningDataset Description' | translate }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-learningDataset pTemplate="body">
                                        <tr>
                                            <td>{{ learningDataset.description }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>


            <!-- Learning Processes Section -->
            <div *ngIf="learningProcessesWithStages.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Learning Processes' | translate }}</div>
                <p-table [value]="learningProcessesWithStages" class="learning-processes-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="learningProcessesWithStages | hasAnyValue: 'learningProcess.description'">{{ 'PassportManagement.LearningProcess Description' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-learningProcessWithStages pTemplate="body">
                        <tr *ngIf="learningProcessesWithStages | hasAnyValue: 'learningProcess.description'">
                            <td>{{ learningProcessWithStages.learningProcess.description }}</td>
                        </tr>
                        <!-- Nested Learning Stages Table -->
                        <tr *ngIf="learningProcessWithStages.learningStages?.length">
                            <td>
                                <p-table [value]="learningProcessWithStages.learningStages"
                                         class="learning-stages-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.learningStageName'">{{ 'PassportManagement.LearningStage Name' | translate }}</th>
                                            <th *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.description'">{{ 'PassportManagement.LearningStage Description' | translate }}</th>
                                            <th *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.datasetPercentage'">{{ 'PassportManagement.LearningStage Dataset Percentage' | translate }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template let-learningStage pTemplate="body">
                                        <tr>
                                            <td *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.learningStageName'">{{ learningStage.learningStageName }}</td>
                                            <td *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.description'">{{ learningStage.description }}</td>
                                            <td *ngIf="learningProcessesWithStages | hasAnyValue: 'learningStages.datasetPercentage'">{{ learningStage.datasetPercentage }}%</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>


            <!-- Parameters Section -->
            <div *ngIf="parameters.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Parameters' | translate }}</div>
                <p-table [value]="parameters" class="parameters-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="parameters | hasAnyValue: 'name'">{{ 'PassportManagement.Parameter Name' | translate }}</th>
                            <th *ngIf="parameters | hasAnyValue: 'dataType'">{{ 'PassportManagement.Parameter DataType' | translate }}</th>
                            <th *ngIf="parameters | hasAnyValue: 'description'">{{ 'PassportManagement.Parameter Description' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-parameter pTemplate="body">
                        <tr>
                            <td *ngIf="parameters | hasAnyValue: 'name'">{{ parameter.name }}</td>
                            <td *ngIf="parameters | hasAnyValue: 'dataType'">{{ parameter.dataType }}</td>
                            <td *ngIf="parameters | hasAnyValue: 'description'">{{ parameter.description }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Population Details Section -->
            <div *ngIf="populationDetails.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Population Details' | translate }}</div>
                <p-table [value]="populationDetails" class="population-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="populationDetails | hasAnyValue: 'populationUrl'">{{ 'PassportManagement.Population URL' | translate }}</th>
                            <th *ngIf="populationDetails | hasAnyValue: 'description'">{{ 'PassportManagement.Population Description' | translate }}</th>
                            <th *ngIf="populationDetails | hasAnyValue: 'characteristics'">{{ 'PassportManagement.Population Characteristics' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-population pTemplate="body">
                        <tr>
                            <td *ngIf="populationDetails | hasAnyValue: 'populationUrl'">{{ population.populationUrl }}</td>
                            <td *ngIf="populationDetails | hasAnyValue: 'description'">{{ population.description }}</td>
                            <td *ngIf="populationDetails | hasAnyValue: 'characteristics'">{{ population.characteristics }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Experiment Details Section -->
            <div *ngIf="experiments.length && (experiments | hasAnyValue: 'researchQuestion')" class="section">
                <div class="section-title">{{ 'PassportManagement.Experiment Details' | translate }}</div>
                <p-table [value]="experiments" class="experiment-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'PassportManagement.Research Question' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-experiment pTemplate="body">
                        <tr>
                            <td>{{ experiment.researchQuestion }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Linked Articles Section -->
            <div *ngIf="linkedArticles.length && (linkedArticles | hasAnyValue: 'articleUrl')" class="section">
                <div class="section-title">{{ 'PassportManagement.Linked Articles' | translate }}</div>
                <p-table [value]="linkedArticles" class="linked-articles-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'PassportManagement.Article URL' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-article pTemplate="body">
                        <tr>
                            <td><a href="{{ article.articleUrl }}">{{ article.articleUrl }}</a></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Survey Details Section -->
            <div *ngIf="surveys.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Survey Details' | translate }}</div>
                <p-table [value]="surveys" class="survey-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="surveys | hasAnyValue: 'question'">{{ 'PassportManagement.Survey Question' | translate }}</th>
                            <th *ngIf="surveys | hasAnyValue: 'answer'">{{ 'PassportManagement.Survey Answer' | translate }}</th>
                            <th *ngIf="surveys | hasAnyValue: 'category'">{{ 'PassportManagement.Survey Category' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-survey pTemplate="body">
                        <tr>
                            <td *ngIf="surveys | hasAnyValue: 'question'">{{ survey.question }}</td>
                            <td *ngIf="surveys | hasAnyValue: 'answer'">{{ survey.answer }}</td>
                            <td *ngIf="surveys | hasAnyValue: 'category'">{{ survey.category }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- Study Details Section -->
            <div *ngIf="studyDetails" class="section">
                <div class="section-title">{{ 'PassportManagement.Study Details' | translate }}</div>
                <div class="section-content">
                    <table class="attribute-table">
                        <tr *ngIf="studyDetails?.name">
                            <td class="attribute-title">{{ 'PassportManagement.Study Name' | translate }}</td>
                            <td class="attribute-value">{{ studyDetails?.name }}</td>
                        </tr>
                        <tr *ngIf="studyDetails?.description">
                            <td class="attribute-title">{{ 'PassportManagement.Study Description' | translate }}</td>
                            <td class="attribute-value">{{ studyDetails?.description }}</td>
                        </tr>
                        <tr *ngIf="studyDetails?.ethics">
                            <td class="attribute-title">{{ 'PassportManagement.Study Ethics' | translate }}</td>
                            <td class="attribute-value">{{ studyDetails?.ethics }}</td>
                        </tr>
                        <tr *ngIf="studyDetails?.objectives">
                            <td class="attribute-title">{{ 'PassportManagement.Study Objectives' | translate }}</td>
                            <td class="attribute-value">{{ studyDetails?.objectives }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--Evaluation Measure Section -->
            <div *ngIf="evaluationMeasures.length" class="section">
                <div class="section-title">{{ 'PassportManagement.Evaluation Measures' | translate }}</div>
                <p-table [value]="evaluationMeasures" class="survey-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="evaluationMeasures | hasAnyValue: 'name'">{{ 'PassportManagement.Name' | translate }}</th>
                            <th *ngIf="evaluationMeasures | hasAnyValue: 'dataType'">{{ 'PassportManagement.Data Type' | translate }}</th>
                            <th *ngIf="evaluationMeasures | hasAnyValue: 'value'">{{ 'PassportManagement.Value' | translate }}</th>
                            <th *ngIf="evaluationMeasures | hasAnyValue: 'description'">{{ 'PassportManagement.Description' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template let-evaluationMeasure pTemplate="body">
                        <tr>
                            <td *ngIf="evaluationMeasures | hasAnyValue: 'name'">{{ evaluationMeasure.name }}</td>
                            <td *ngIf="evaluationMeasures | hasAnyValue: 'dataType'">{{ evaluationMeasure.dataType }}</td>
                            <td *ngIf="evaluationMeasures | hasAnyValue: 'value'">{{ evaluationMeasure.value }}</td>
                            <td *ngIf="evaluationMeasures | hasAnyValue: 'description'">{{ evaluationMeasure.description }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <!-- Model Figures Section -->
            <div *ngIf="modelFigures?.length" class="section">
                <div class="section-title">
                    {{ 'PassportManagement.Model Figures' | translate }}
                </div>

                <div class="grid">
                    <div
                            class="col-12 md:col-6 lg:col-4"
                            *ngFor="let figure of modelFigures"
                    >
                        <div class="card shadow-1 p-2 border-round-sm text-center">
                            <img
                                    [src]="'data:image/png;base64,' + figure.imageBase64"
                                    class="w-full border-round-md"
                                    style="object-fit: contain; max-height: 250px;"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ui-dialog-footer flex justify-content-between">
        <button (click)="closeDialog()" icon="pi pi-times" label="{{ 'PassportManagement.CANCEL' | translate }}"
                pButton type="button"></button>
        <div class="flex gap-2">
            <button (click)="generateDocx()" icon="pi pi-file-word"
                    label="{{ 'PassportManagement.EXPORT AS DOCX' | translate }}"
                    pButton type="button"></button>
            <button (click)="generatePdf()" icon="pi pi-file-pdf"
                    label="{{ 'PassportManagement.EXPORT AS PDF' | translate }}"
                    pButton type="button"></button>
        </div>
    </div>
</p-dialog>
