<div class="col-12">
    <div class="card p-mt-3">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-2xl font-semibold mb-3 md:mb-0">{{ 'OrganizationManagement.Organization Personnel' | translate }}</div>
            <div class="inline-flex align-items-center">
        <span class="p-input-icon-left flex-auto mx-2">
          <i class="pi pi-search"></i>
          <input type="text" (input)="filter(dt, $event)" class="w-full" pInputText placeholder="{{ 'Search' | translate }}" style="border-radius: 2rem" />
        </span>
                <button (click)="showCreateForm()" class="p-button-rounded button-secondary mx-2" icon="pi pi-plus" pButton pRipple pTooltip="{{ 'New Personnel' | translate }}" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table
            #dt
            [columns]="columns"
            [value]="personnelList"
            [paginator]="true"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            [loading]="loading"
            [rowsPerPageOptions]="[10, 25, 50]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="firstName">{{ 'OrganizationManagement.First Name' | translate }}
                        <p-sortIcon field="firstName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="lastName">{{ 'OrganizationManagement.Last Name' | translate }}
                        <p-sortIcon field="lastName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="role">{{ 'OrganizationManagement.Role' | translate }}
                        <p-sortIcon field="role"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">{{ 'OrganizationManagement.Email' | translate }}
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th>{{ 'Actions' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template let-personnel pTemplate="body">
                <tr>
                    <td>{{ personnel.firstName }}</td>
                    <td>{{ personnel.lastName }}</td>
                    <td>{{ personnel.role }}</td>
                    <td>{{ personnel.email }}</td>
                    <td>
                        <button
                                (click)="editPersonnel(personnel)"
                                class="p-button-text p-button-rounded p-ripple"
                                icon="pi pi-pencil"
                                pButton
                                pRipple
                                pTooltip="{{ 'Edit Personnel' | translate }}"
                                tooltipPosition="bottom"
                                type="button"
                        ></button>
                        <button
                                (click)="deletePersonnel(personnel)"
                                class="p-button-text p-button-rounded p-ripple"
                                icon="pi pi-trash"
                                pButton
                                pRipple
                                pTooltip="{{ 'Delete Personnel' | translate }}"
                                tooltipPosition="bottom"
                                type="button"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="displayDialog" [minY]="70" [modal]="true" [responsive]="true" header="{{ 'OrganizationManagement.Personnel Form' | translate }}">
        <div class="p-fluid">
            <div class="p-field">
                <label for="first-name">{{ 'OrganizationManagement.First Name' | translate }}</label>
                <input [(ngModel)]="selectedPersonnel.firstName" id="first-name" pInputText placeholder="{{ 'OrganizationManagement.Enter first name' | translate }}" type="text" />
            </div>
            <div class="p-field">
                <label for="last-name">{{ 'OrganizationManagement.Last Name' | translate }}</label>
                <input [(ngModel)]="selectedPersonnel.lastName" id="last-name" pInputText placeholder="{{ 'OrganizationManagement.Enter last name' | translate }}" type="text" />
            </div>
            <div class="p-field">
                <label for="role">{{ 'OrganizationManagement.Role' | translate }}</label>
                <input [(ngModel)]="selectedPersonnel.role" id="role" pInputText placeholder="{{ 'OrganizationManagement.Enter role' | translate }}" type="text" />
            </div>
            <div class="p-field">
                <label for="email">{{ 'OrganizationManagement.Email' | translate }}</label>
                <input [(ngModel)]="selectedPersonnel.email" id="email" pInputText placeholder="{{ 'OrganizationManagement.Enter email' | translate }}" type="email" />
            </div>
        </div>
        <p-footer>
            <button (click)="savePersonnel()" icon="pi pi-check" label="{{ 'Save' | translate }}" pButton type="button"></button>
            <button (click)="displayDialog=false" icon="pi pi-times" label="{{ 'Cancel' | translate }}" pButton type="button"></button>
        </p-footer>
    </p-dialog>
</div>







