<p-dialog [(visible)]="displayDialog" [modal]="true" header="Question Form" (onHide)="closeDialog()">
  <div class="p-fluid">
    <div class="p-field">
      <label for="question">Question</label>
      <input
              [(ngModel)]="selectedQuestion.question"
              id="question"
              pInputText
              placeholder="Enter the question"
              type="text"
              style="width: 100%;"
      />
    </div>
    <div class="p-field">
      <label for="answer">Answer</label>
      <textarea
              [(ngModel)]="selectedQuestion.answer"
              id="answer"
              pInputTextarea
              placeholder="Enter the answer"
              rows="3"
              cols="30"
              class="p-inputtextarea p-inputtext p-component p-element"
              style="width: 100%; height: 150px;"
      ></textarea>
    </div>
    <div class="p-field">
      <label for="category">Category</label>
      <p-autoComplete
              [(ngModel)]="selectedQuestion.category"
              [suggestions]="filteredCategories"
              (completeMethod)="filterCategory($event)"
              field="label"
              placeholder="Select or enter a category"
              [forceSelection]="false">
      </p-autoComplete>
    </div>
  </div>
  <p-footer>
    <button (click)="saveQuestion()" icon="pi pi-check" label="Save" pButton type="button"></button>
    <button (click)="closeDialog()" icon="pi pi-times" label="Cancel" pButton type="button"></button>
  </p-footer>
</p-dialog>


