<p-dialog (onHide)="closeDialog()" [(visible)]="displayForm" [modal]="true"
          header="{{ 'OrganizationManagement.Organization Form' | translate }}">
    <form (ngSubmit)="saveOrganization()" [formGroup]="organizationForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="org-name">{{ 'OrganizationManagement.Organization Name' | translate }}</label>
                <input
                        formControlName="name"
                        id="org-name"
                        pInputText
                        placeholder="{{ 'OrganizationManagement.Enter organization name' | translate }}"
                        style="width: 100%;"
                        type="text"
                />
            </div>
            <div class="p-field">
                <label for="org-address">{{ 'OrganizationManagement.Organization Address' | translate }}</label>
                <textarea
                        class="p-inputtextarea p-inputtext p-component p-element"
                        cols="30"
                        formControlName="address"
                        id="org-address"
                        pInputTextarea
                        placeholder="{{ 'OrganizationManagement.Enter address' | translate }}"
                        rows="3"
                        style="width: 100%; height: 150px;"
                ></textarea>
            </div>
        </div>
        <p-footer class="dialog-footer">
            <div class="flex justify-content-between">
                <button icon="pi pi-check" label="{{ 'Save' | translate }}" pButton type="submit" class="p-button-primary"></button>
                <button (click)="closeDialog()" icon="pi pi-times" label="{{ 'Cancel' | translate }}" pButton type="button" class="p-button-primary"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>
