<form *ngIf="deploymentEnvironmentForm" [formGroup]="deploymentEnvironmentForm">
    <p-card class="p-0 w-full">
        <div class="grid grid-nogutter">
            <!-- Title -->
            <div class="col-2 flex align-items-center">
                <label class="text-900 font-medium"
                       for="title">{{'DeploymentManagement.Environment.Title' | translate}}</label>
            </div>
            <div class="col-10 text-900 flex align-items-center p-fluid">
                <input type="text"
                       id="title"
                       pInputText
                       placeholder="{{'DeploymentManagement.Environment.Title' | translate}}"
                       formControlName="title"
                       class="form-control">
            </div>
            <!-- Description -->
            <div class="col-2 flex align-items-center mt-4">
                <label class="text-900 font-medium"
                       for="description">{{'DeploymentManagement.Environment.Description' | translate}}</label>
            </div>
            <div class="col-10 text-900 flex align-items-center p-fluid mt-4">
                <input type="text"
                       id="description"
                       pInputText
                       placeholder="{{'DeploymentManagement.Environment.Description' | translate}}"
                       formControlName="description"
                       class="form-control">
            </div>
            <!-- Hardware Properties -->
            <div class="col-2 flex align-items-center mt-4">
                <label class="text-900 font-medium"
                       for="hardwareProperties">{{'DeploymentManagement.Environment.Hardware Properties' | translate}}</label>
            </div>
            <div class="col-10 text-900 flex align-items-center p-fluid mt-4">
                <input type="text"
                       id="hardwareProperties"
                       pInputText
                       placeholder="{{'DeploymentManagement.Environment.Hardware Properties' | translate}}"
                       formControlName="hardwareProperties"
                       class="form-control">
            </div>

            <!-- Software Properties -->
            <div class="col-2 flex align-items-center mt-4">
                <label class="text-900 font-medium"
                       for="softwareProperties">{{'DeploymentManagement.Environment.Software Properties' | translate}}</label>
            </div>
            <div class="col-10 text-900 flex align-items-center p-fluid mt-4">
                <input type="text"
                       id="softwareProperties"
                       pInputText
                       placeholder="{{'DeploymentManagement.Environment.Software Properties' | translate}}"
                       formControlName="softwareProperties"
                       class="form-control">
            </div>

            <!-- Connectivity Details -->
            <div class="col-2 flex align-items-center mt-4">
                <label class="text-900 font-medium"
                       for="connectivityDetails">{{'DeploymentManagement.Environment.Connectivity Details' | translate}}</label>
            </div>
            <div class="col-10 text-900 flex align-items-center p-fluid mt-4">
                <input type="text"
                       id="connectivityDetails"
                       pInputText
                       placeholder="{{'DeploymentManagement.Environment.Connectivity Details' | translate}}"
                       formControlName="connectivityDetails"
                       class="form-control">
            </div>
        </div>
        <div class="flex justify-content-between flex-wrap mt-4">
            <div class="justify-content-start">
                <button pButton pRipple
                        type="button"
                        label="{{'Back' | translate}}"
                        class="p-button-raised"
                        (click)="back()"></button>
            </div>
            <div class="justify-content-end">
                <button pButton pRipple
                        type="button"
                        label="{{'Save' | translate}}"
                        class="p-button-raised"
                        [disabled]="!deploymentEnvironmentForm.valid"
                        (click)="save()"></button>
            </div>
        </div>
    </p-card>
</form>