<p-dialog [(visible)]="displayForm" [modal]="true" header="{{ 'OrganizationManagement.Personnel Form' | translate }}" (onHide)="closeDialog()"
          [style]="{width: '350px'}">
    <form [formGroup]="personnelForm" (ngSubmit)="savePersonnel()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstName">{{ 'OrganizationManagement.First Name' | translate }}</label>
                <input formControlName="firstName" id="firstName" pInputText placeholder="{{ 'OrganizationManagement.Enter first name' | translate }}" type="text" style="width: 100%;" />
            </div>
            <div class="p-field">
                <label for="lastName">{{ 'OrganizationManagement.Last Name' | translate }}</label>
                <input formControlName="lastName" id="lastName" pInputText placeholder="{{ 'OrganizationManagement.Enter last name' | translate }}" type="text" style="width: 100%;" />
            </div>
            <div class="p-field">
                <label for="role">{{ 'OrganizationManagement.Role' | translate }}</label>
                <p-dropdown
                        formControlName="role"
                        [options]="roles"
                        placeholder="{{ 'OrganizationManagement.Select a role' | translate }}"
                ></p-dropdown>
            </div>
            <div class="p-field">
                <label for="email">{{ 'OrganizationManagement.Email' | translate }}</label>
                <input formControlName="email" id="email" pInputText placeholder="{{ 'OrganizationManagement.Enter email' | translate }}" type="email" style="width: 100%;" />
            </div>
        </div>
        <div style="margin-bottom: 1rem;"></div>
        <p-footer class="dialog-footer">
            <div class="flex justify-content-between">
                <button type="submit" icon="pi pi-check" label="{{ 'Save' | translate }}" pButton class="p-button-primary"></button>
                <button type="button" (click)="closeDialog()" icon="pi pi-times" label="{{ 'Cancel' | translate }}" pButton class="p-button-primary"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>

